In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/home/edvin/Desktop/data/SynthAML/synthetic_transactions.csv')
df.head()

   AlertID            Timestamp   Entry  Type      Size
0        1  2019-01-01 00:00:41  Credit  Wire -0.438941
1        1  2019-01-01 00:00:41   Debit  Wire -1.656562
2        1  2019-01-01 00:00:44  Credit  Card -0.749267
3        1  2019-01-01 00:00:45   Debit  Wire  0.006226
4        1  2019-01-01 00:00:50  Credit  Card -1.185568

In [3]:
df[df['AlertID']==1]

      AlertID            Timestamp   Entry  Type      Size
0           1  2019-01-01 00:00:41  Credit  Wire -0.438941
1           1  2019-01-01 00:00:41   Debit  Wire -1.656562
2           1  2019-01-01 00:00:44  Credit  Card -0.749267
3           1  2019-01-01 00:00:45   Debit  Wire  0.006226
4           1  2019-01-01 00:00:50  Credit  Card -1.185568
...       ...                  ...     ...   ...       ...
1442        1  2019-12-31 23:59:49  Credit  Card -1.921886
1443        1  2019-12-31 23:59:52   Debit  Card -1.411510
1444        1  2019-12-31 23:59:55  Credit  Cash -0.714486
1445        1  2019-12-31 23:59:58   Debit  Card -0.738603
1446        1  2019-12-31 23:59:59  Credit  Wire -1.593158

[1447 rows x 5 columns]